--
-- PostgreSQL database dump
--

\restrict 9u0oJ9KpzCiFvK5jzO4agTvLdCPk2g1jCe7fQWqGAAn4mnXekxyUtGs4YfVPI90

-- Dumped from database version 18.3 (Debian 18.3-1.pgdg13+1)
-- Dumped by pg_dump version 18.3 (Debian 18.3-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: garage; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.garage (
    garage_id integer CONSTRAINT "garage_GarageID_not_null" NOT NULL,
    name character varying(50),
    address1 character varying(50),
    address2 character varying(50),
    contact character varying(32767)
);


ALTER TABLE public.garage OWNER TO postgres;

--
-- Name: garage_garage_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.garage ALTER COLUMN garage_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.garage_garage_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: maintenance_schedule; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.maintenance_schedule (
    task_id integer CONSTRAINT "maintenanceschedule_TaskID_not_null" NOT NULL,
    vehicle_id integer CONSTRAINT "maintenanceschedule_VehicleID_not_null" NOT NULL,
    task_description character varying(50),
    odo_interval integer,
    notes character varying(32767),
    time_interval interval
);


ALTER TABLE public.maintenance_schedule OWNER TO postgres;

--
-- Name: maintenance_schedule_task_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.maintenance_schedule ALTER COLUMN task_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.maintenance_schedule_task_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: maintenance_status; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.maintenance_status (
    task_id integer NOT NULL,
    last_performed_odo integer,
    next_due_odo integer,
    last_performed_date date,
    next_due_date date
);


ALTER TABLE public.maintenance_status OWNER TO postgres;

--
-- Name: vehicles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.vehicles (
    vehicle_id integer CONSTRAINT "vehicles_VehicleID_not_null" NOT NULL,
    make character varying(50),
    model character varying(50),
    year integer,
    vin character varying(50),
    purchase_date timestamp without time zone CONSTRAINT "vehicles_PurchaseDate_not_null" NOT NULL
);


ALTER TABLE public.vehicles OWNER TO postgres;

--
-- Name: vehicles_vehicle_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.vehicles ALTER COLUMN vehicle_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.vehicles_vehicle_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: workorder_costs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.workorder_costs (
    order_id integer CONSTRAINT "workordercosts_OrderID_not_null" NOT NULL,
    item character varying(50),
    cost numeric(10,2),
    workorder_costs_id integer NOT NULL
);


ALTER TABLE public.workorder_costs OWNER TO postgres;

--
-- Name: workorder_costs_workorder_costs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.workorder_costs ALTER COLUMN workorder_costs_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.workorder_costs_workorder_costs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: workorder_header; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.workorder_header (
    order_id integer CONSTRAINT "workorderheader_OrderID_not_null" NOT NULL,
    vehicle_id integer CONSTRAINT "workorderheader_VehicleID_not_null" NOT NULL,
    garage_id integer CONSTRAINT "workorderheader_GarageID_not_null" NOT NULL,
    order_date timestamp without time zone,
    odo_reading integer,
    notes character varying(32767)
);


ALTER TABLE public.workorder_header OWNER TO postgres;

--
-- Name: workorder_header_order_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.workorder_header ALTER COLUMN order_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.workorder_header_order_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: workorder_maintenance_list; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.workorder_maintenance_list (
    order_id integer CONSTRAINT "workordermaintenancelist_OrderID_not_null" NOT NULL,
    task_id integer CONSTRAINT "workordermaintenancelist_TaskID_not_null" NOT NULL,
    workorder_maintenance_list_id integer CONSTRAINT "workordermaintenancelist_WorkOrderMaintenanceListID_not_null" NOT NULL,
    vehicle_id integer NOT NULL
);


ALTER TABLE public.workorder_maintenance_list OWNER TO postgres;

--
-- Name: workorder_maintenance_list_workorder_maintenance_list_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.workorder_maintenance_list ALTER COLUMN workorder_maintenance_list_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.workorder_maintenance_list_workorder_maintenance_list_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: garage garage_pk; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.garage
    ADD CONSTRAINT garage_pk PRIMARY KEY (garage_id);


--
-- Name: maintenance_status maintenance_status_pk; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintenance_status
    ADD CONSTRAINT maintenance_status_pk PRIMARY KEY (task_id);


--
-- Name: maintenance_schedule maintenanceschedule_pk; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintenance_schedule
    ADD CONSTRAINT maintenanceschedule_pk PRIMARY KEY (task_id);


--
-- Name: maintenance_schedule uq_vehicle_task; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintenance_schedule
    ADD CONSTRAINT uq_vehicle_task UNIQUE (vehicle_id, task_id);


--
-- Name: vehicles vehicles_pk; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vehicles
    ADD CONSTRAINT vehicles_pk PRIMARY KEY (vehicle_id);


--
-- Name: workorder_costs workordercosts_pk; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workorder_costs
    ADD CONSTRAINT workordercosts_pk PRIMARY KEY (workorder_costs_id);


--
-- Name: workorder_header workorderheader_pk; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workorder_header
    ADD CONSTRAINT workorderheader_pk PRIMARY KEY (order_id);


--
-- Name: workorder_maintenance_list workordermaintenancelist_pk; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workorder_maintenance_list
    ADD CONSTRAINT workordermaintenancelist_pk PRIMARY KEY (workorder_maintenance_list_id);


--
-- Name: idx_wml_task; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_wml_task ON public.workorder_maintenance_list USING btree (task_id);


--
-- Name: workorder_maintenance_list fk_wml_vehicle_task; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workorder_maintenance_list
    ADD CONSTRAINT fk_wml_vehicle_task FOREIGN KEY (vehicle_id, task_id) REFERENCES public.maintenance_schedule(vehicle_id, task_id);


--
-- Name: maintenance_schedule maintenance_schedule_vehicles_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintenance_schedule
    ADD CONSTRAINT maintenance_schedule_vehicles_fk FOREIGN KEY (vehicle_id) REFERENCES public.vehicles(vehicle_id);


--
-- Name: maintenance_status maintenance_status_maintenance_schedule_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintenance_status
    ADD CONSTRAINT maintenance_status_maintenance_schedule_fk FOREIGN KEY (task_id) REFERENCES public.maintenance_schedule(task_id);


--
-- Name: workorder_costs workorder_costs_workorder_header_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workorder_costs
    ADD CONSTRAINT workorder_costs_workorder_header_fk FOREIGN KEY (order_id) REFERENCES public.workorder_header(order_id);


--
-- Name: workorder_header workorder_header_garage_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workorder_header
    ADD CONSTRAINT workorder_header_garage_fk FOREIGN KEY (garage_id) REFERENCES public.garage(garage_id);


--
-- Name: workorder_header workorder_header_vehicles_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workorder_header
    ADD CONSTRAINT workorder_header_vehicles_fk FOREIGN KEY (vehicle_id) REFERENCES public.vehicles(vehicle_id);


--
-- Name: workorder_maintenance_list workorder_maintenance_list_workorder_header_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workorder_maintenance_list
    ADD CONSTRAINT workorder_maintenance_list_workorder_header_fk FOREIGN KEY (order_id) REFERENCES public.workorder_header(order_id);


--
-- PostgreSQL database dump complete
--

\unrestrict 9u0oJ9KpzCiFvK5jzO4agTvLdCPk2g1jCe7fQWqGAAn4mnXekxyUtGs4YfVPI90

